/BasicClientTest.class
/ClientDecoratorTest.class
/ClientDecoratorTest$SimpleClientDecorator.class
/CourseTest.class
/FacultyClientTest.class
/ManagementClientTest.class
/BookRequestManagerTest.class
/BookRequestQueueTest.class
/BookRequestTest.class
/PaymentFactoryTest.class
/SimpleNotificationFactoryTest.class
/StudentLibraryTest.class
/LibraryTestCases.class
